<% if user == current_user %>
  <div class="card">
    <div class="card-body">
      <% if user.avatar? %>
        <%= image_tag user.avatar.profile_icon.url%>
      <% else %>
        <%= image_tag ("noavatar.png") %>
      <% end %>
      <%= link_to user.name,  user %>
    </div>
  </div>
<% else %>
  <div class="card">
    <div class="card-body">
      <% if user.avatar? %>
        <%= image_tag user.avatar.profile_icon.url%>
      <% else %>
        <%= image_tag ("noavatar.png") %>
      <% end %>
      <%= link_to user.name,  user %>
    </div>
  </div>
<% end %>