<div class="row">
  <div class="cor-md6-6 offset-md-3">
    <div class="left-button">
      <%= link_to "ユーザー一覧に戻る", root_path %>
    </div>
    <h4 class="rooms-title"><%= @partner.name %></h4>
    <hr>
    <div class="chats">
      <div class="chat">
        <% if @messages.present? %>
          <% @messages.each do |message| %>
            <div class="card">
              <div class="card-body">
              <% if message.user.avatar? %>
                <%= image_tag message.user.avatar.room_icon.url%>
              <% else %>
                <%= image_tag ("noavatar.png") %>
              <% end %>
               <%= message.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="posts">
        <%#= form_with(model: @message, local: true) do |f| %>
        <%= form_with(model: @message, local: true) do |f| %>
          <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
            <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit "投稿",class: 'form-submit'%>
        <% end %>
      </div>
    </div>
  </div>
</div>