<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="left-button">
      <%= link_to "ユーザー一覧に戻る", root_path %>
    </div>
    <h4 class="rooms-title"><%= @partner.name %></h4>
    <hr>
    <div class="chats">
      <div class="chat">
        <% if @messages.present? %>
          <% @messages.each do |message| %>
            <div class="card">
              <div class="card-body">
                <div class="card-avatar">
                  <% if message.user.avatar? %>
                    <%= image_tag message.user.avatar.room_icon.url%>
                  <% else %>
                    <%= image_tag ("noavatar_45.png") %>
                  <% end %>
                </div>
                <div class="card-content">
                  <div class="card-user-name">
                    <%= message.user.name %>
                  </div>
                  <div class="card-text">
                    <%= message.content %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="posts">
        <%= form_with(model: @message, local: true, class: :"post-form") do |f| %>
          <%= f.text_field :content, placeholder: "メッセージを入力して下さい", class:"form-text-field" %>
            <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit "送信",class: 'btn btn-main-green form-submit'%>
        <% end %>
      </div>
    </div>
  </div>
</div>