<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>プロフィールを編集</h2>
    <%=form_with model: @user, url: {controller: "accounts", action: "update"}, id: "account_form", local: true do |f| %>
      <%#= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :status_message %><br />
        <%= f.text_field :status_message, autofocus: true, autocomplete: "status_message" %>
      </div>

      <div class="field">
        <%= f.label :introduction %><br />
        <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
      </div>

      <div class="field">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.profile_icon.url, {class: "avatar", id: "avatar-image"} %>
        <% else %>
          <%= image_tag "noavatar_50.png", {class: "avatar", id: "avatar-image"} %>
        <% end %>
        <%# defauleのtype="submit" でclickするとpostリクエストが発生する %>
        <button type="button" class="btn btn-link avatar-upload">変更する</button> 
        <%= f.file_field   :avatar, onchange: "cropperAvatar(this);",  accept: "image/*" %>
        <%= f.hidden_field :avatar_cache %>
        <%= f.hidden_field :image_x %>
        <%= f.hidden_field :image_y %>
        <%= f.hidden_field :image_w %>
        <%= f.hidden_field :image_h %>
      </div>

      <div class="actions">
        <%= f.submit "送信する", class: "btn btn-main-green" %>
      </div>
    <% end %>
    <%= render "image_modal" %>
  </div>
</div>

<script>
// ファイル選択ボタンをクリックした際に、avatar file_field がクリックされるようにする
  document.querySelector(".avatar-upload").addEventListener("click", () => {
  document.querySelector("#user_avatar").click();
});
</script>